body
{
    background: url("https://free4kwallpapers.com/uploads/originals/2020/05/13/-insane-sunset-environment-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    color: white;

}
.content{
    color: white;
   
}